body {
  margin: 0;
  padding: 0;
  color: #717d97;
  font-size: 11px;
  line-height: 17px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.7px;
  word-spacing: 3px;
  font-weight: 100;
  margin-top: 0px;
}

body hr {
  width: 100%;
  margin-left: 0;
  margin-right: auto;
  height: 1px;
  border: 0 none;
  margin-top: 20px;
}

body h3 {
  margin-top: -2px;
  font-size: 15px;
}

body h1 {
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 6px;
  font-weight: 300;
  margin-top: -8px;
}

body h1 .second {
  font-size: 14px;
  letter-spacing: 3px;
}

body .accent-title {
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 4px;
}

body .accent-title .first {
  position: relative;
  top: 7px;
}

body .accent-title .second {
  font-size: 12px;
  font-weight: 700;
  position: relative;
  bottom: 7px;
}

body .vertical-center-container {
  position: relative;
}

body .vertical-center-container .vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .vertical-center-container-right {
  position: relative;
}

body .vertical-center-container-right .vertical-center-right {
  margin: 0 0 0 19px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .pages-wrapper .page .page-nav {
  width: 100vw;
  height: 200px;
  margin-bottom: 38px;
  border-bottom: 1px solid #EDF0F2;
}

body .pages-wrapper .page .page-nav .title-container {
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 600px) {
  body .pages-wrapper .page .page-body {
    width: 100vw;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.78px;
    word-spacing: 3px;
  }
  body .pages-wrapper .page .page-body .page-body-left {
    width: 100%;
    min-width: 300px;
  }
  body .pages-wrapper .page .page-body .page-body-left .container-left-accent {
    background-color: #D2D844;
    height: 120px;
    margin-right: 19px;
    margin-bottom: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .pages-wrapper .page .page-body .page-body-left .container-left-accent .left-accent {
    width: 236px;
    height: 100%;
    margin-left: calc((100vw - 260px) / 2);
  }
  body .pages-wrapper .page .page-body .page-body-left .container-content-left {
    width: 100%;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .pages-wrapper .page .page-body .page-body-left .container-content-left .content-left {
    width: 240px;
    padding-bottom: 39px;
  }
  body .pages-wrapper .page .page-body .page-body-right {
    width: 100%;
    min-width: 300px;
  }
  body .pages-wrapper .page .page-body .page-body-right .container-right-accent {
    background-color: #D2D844;
    height: 120px;
    margin-left: 19px;
    margin-bottom: 38px;
  }
  body .pages-wrapper .page .page-body .page-body-right .container-right-accent .right-accent {
    width: 236px;
    height: 100%;
    margin-left: calc((100vw - 260px) / 2 - 38px);
  }
  body .pages-wrapper .page .page-body .page-body-right .container-content-right {
    width: 100%;
    min-height: 100px;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .pages-wrapper .page .page-body .page-body-right .container-content-right .content-right {
    width: 240px;
    min-height: 100px;
    padding-bottom: 39px;
  }
}

@media only screen and (min-width: 601px) {
  body .pages-wrapper .page .page-body {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .pages-wrapper .page .page-body .page-body-left {
    width: 50%;
    min-width: 300px;
  }
  body .pages-wrapper .page .page-body .page-body-left .container-left-accent {
    background-color: #D2D844;
    height: 120px;
    margin-right: 19px;
    margin-bottom: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .pages-wrapper .page .page-body .page-body-left .container-left-accent .left-accent {
    width: 236px;
    height: 100%;
  }
  body .pages-wrapper .page .page-body .page-body-left .container-content-left {
    margin-right: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .pages-wrapper .page .page-body .page-body-left .container-content-left .content-left {
    width: 236px;
  }
  body .pages-wrapper .page .page-body .page-body-right {
    width: 50%;
    min-width: 300px;
  }
  body .pages-wrapper .page .page-body .page-body-right .container-right-accent {
    background-color: #D2D844;
    height: 120px;
    margin-left: 19px;
    margin-bottom: 38px;
  }
  body .pages-wrapper .page .page-body .page-body-right .container-right-accent .right-accent {
    width: 236px;
    height: 100%;
  }
  body .pages-wrapper .page .page-body .page-body-right .container-content-right {
    min-height: 100px;
    margin-left: 19px;
    margin-bottom: 38px;
  }
  body .pages-wrapper .page .page-body .page-body-right .container-content-right .content-right {
    width: 236px;
    min-height: 100px;
  }
}
/*# sourceMappingURL=styles.css.map */