$distance-middle-half: 32px;
$distance-middle-full: $distance-middle-half * 2;

$margin-footer-mobile : 62px;
$margin-footer-desktop : 62px;

$element-width: 210px;

// $element-width-mobile: 80%;
$element-width-mobile: 80%;


$title-width: ($element-width + $distance-middle-half) * 2;

$accent-height: 120px;

$nav-height: 216px; // 65px nav /  (65 * 1.61 GR) * 2 = 206  + 10px (65 -10 = 55 (back nav)) = 216
// $nav-height: 195px; 


body {

     @keyframes rotate {
          to {
               transform: rotate(360deg);
          }
     }



     margin: 0;
     padding: 0;
     font-size: 14px;
     line-height: 24px;
     font-family: 'Poppins',
     sans-serif;
     letter-spacing: 0.7px;
     word-spacing: 3px;
     font-weight: 200;
     margin-top: 0px;

     svg {
          // https://css-tricks.com/how-to-do-knockout-text/
     }


     hr {
          width: 100%;
          margin-left: 0;
          margin-right: auto;
          height: 1px;
          border: 0 none;
          margin-top: 20px;

     }

     p {
          line-height: 28px;
          margin: 0;
          margin: 19px 0 0px;
          font-size: 17px;
          font-weight: 300;
          // margin: 12px 0 0;
          // -webkit-hyphens: auto;
          // -moz-hyphens: auto;
          // -ms-hyphens: auto;
          // hyphens: auto;
          // text-align: justify;
          // text-justify: inter-word;
     }
     @media only screen and (min-width: 601px) {
          p {
               font-size: 14px;
               line-height: 20px;
          font-weight: 100;

          }
     }

     h2 {
          margin: 0;
          margin-top: -2px;
          font-size: 31.5px;
          font-weight: 600;
          letter-spacing: 2.5px;
     }

     h3 {
          font-size: 19.5px;
          font-weight: 400;
          margin: 0;
          // margin-top: 15px;
          // line-height: 1.4;
          letter-spacing: 1.6px;
     }

     @media only screen and (min-width: 601px) {
          h3 {
               font-size: 12px;
          }
     }

     h1 {
          font-size: 31.5px;
          line-height: 24px;
          letter-spacing: 6px;
          font-weight: 300;
          padding: 0;
          margin: 0;
          margin-top: -8px;

     }

     .font-weight-300 {
          font-weight: 300;

     }

     .accent-title {
          font-size: 19.5px;
          line-height: 40px;
          letter-spacing: 4px;

     }





     .pages-wrapper {

          .page {

               transition: background-color 350ms ease;

               .page-nav {
                    width: 100%;
                    height: $nav-height;
                    // margin-bottom: $distance-middle-full;

                    .title-container {
                         height: 100%;
                         margin: 0 auto;
                         display: flex;
                         align-items: flex-end;
                         justify-content: center;
                    }
               }


               @media only screen and (max-width: 600px) {
                    .page-body {
                         width: 100%;
                         font-size: 16px;
                         line-height: 25px;
                         letter-spacing: 0.78px;
                         word-spacing: 3px;
                         font-weight: 300;

                         .font-weight-300 {
                              font-weight: 400
                         }

                         .page-body-left {
                              width: 100%;
                              padding: 0;


                              .container-content-left {
                                   width: 100%;

                                   margin-right: 0;
                                   display: flex;
                                   justify-content: center;
                                   margin-top: 0px;

                                   .content-left {
                                        width: $element-width-mobile;
                                        max-width: 350px;
                                        padding-bottom: 24px;

                                   }
                              }
                         }

                         .page-body-right {
                              width: 100%;
                              padding: 0;

                              // margin-top: 10px;
                              // background-color: #D2D844;
                              .container-right-accent {
                                   // background-color: #D2D844;

                                   height: $accent-height;
                                   margin-left: $distance-middle-half;
                                   margin-bottom: $distance-middle-full;


                              }

                              .container-content-right {
                                   width: 100%;
                                   // min-height: 100px;
                                   margin-right: 0;
                                   display: flex;
                                   justify-content: center;
                                   // margin-top: 0px;

                                   .content-right {
                                        width: $element-width-mobile;
                                        max-width: 350px;
                                        padding-bottom:24px; //39px;
                                   }
                              }
                         }
                    }
               }

               @media only screen and (min-width: 601px) {
                    .page-body {
                         width: 100%;
                         display: flex;



                         .page-body-left {
                              width: 50%;
                              padding: 0;



                              .container-content-left {

                                   margin-right: $distance-middle-half;
                                   display: flex;
                                   justify-content: flex-end;
                                   // margin-top: 11px;

                                   .content-left {
                                        width: $element-width;

                                   }
                              }
                         }

                         .page-body-right {
                              width: 50%;
                              padding: 0;

                              .container-right-accent {
                                   // background-color: #D2D844;
                                   height: $accent-height;
                                   margin-left: $distance-middle-half;
                                   margin-bottom: $distance-middle-full;
                              }

                              .container-content-right {

                                   // min-height: 100px;
                                   margin-left: $distance-middle-half;
                                   // margin-bottom: $distance-middle-full;
                                   // margin-top: 10px;

                                   .content-right {
                                        width: $element-width;
                                        // min-height: 100px
                                   }
                              }
                         }
                    }
               }
          }
     }





     .container-footer {
          // border: 1px solid #444444;

          .footer {
               // border: 1px solid #444444;
               width: $element-width + $element-width + $distance-middle-full;
               margin: $margin-footer-desktop auto;
               display: flex;


               .footer-left {
                    // border: 1px solid #0044c1;
                    width: $element-width;
                    margin-right: $distance-middle-full;
               }

               .footer-right {
                    // border: 1px solid #c10000;
                    width: $element-width;
               }
          }
     }

     .footer-items-container {
          display: flex;

          .footer-icon {
               position: relative;
               top: -1px;
          }

          .footer-icon-text {
               padding-left: 16px;
          }
     }

     @media only screen and (max-width: 600px) {

          .container-footer {

               .footer {

                    width: 80%;
                    margin: $margin-footer-mobile auto;
                    display: block;

                    .footer-left {
                         width: 100%;
                    }

                    .footer-right {
                         width: 100%;
                    }
               }
          }

          .footer-items-container {
               padding: 00;

               .footer-icon {
                    position: relative;
                    top: 2px;
               }

               .footer-icon-text {
                    font-size: 15px;
                    padding-left: 20px;
                    font-weight: 100;
               }
          }
     }












}